.appContent {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .agile {
        width: 100%;
        height: 95%;
    }
}