#boltToolApp {
    @include mainToolContainer();
    display: none;
    overflow-y: hidden;
    // display: block;
    .boltAppMain {
        position: relative;
        .boltToolInputs {
            @include toolContainer(32%, steelblue);
            .appTitle {
                @include appTitle(steelblue);
            }
            .boltSpecDataContainer {
                position: absolute;
                width: 50%;
                height: 50%;
                left: 25%;
                display: none;
                .boltSpecData {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    z-index: 999;
                    img {
                        display: block;
                        width: 100%;
                    }
                    .closePopup {
                        display: block;
                        position: absolute;
                        top: 5px;
                        right: 5px;
                    }
                }
            }
        }
        .boltToolOutput {
            @include toolContainer(32%, bisque);
            .appTitle {
                @include appTitle(bisque)
            }
        }
        .boltToolTorque {
            @include toolContainer(32%, lightblue);
            .appTitle {
                @include appTitle(lightblue);
            }
        }
    }
}