// CSS styling for the main dashboard and its muuri containers
.grid {
    position: absolute;
    background: $greyBackground;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    margin: 0 auto;
    .item {
        display: block;
        position: absolute;
        z-index: 1;
        background: white;
        color: $medText;
        margin: 15px;
        border-radius: 10px;
        .item-content {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .quoteMain {
                width: 100%;
                height: 85%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 15px 0;
                padding: 0 15px;
                .quotePic {
                    width: 50%;
                    height: 100%;
                    padding-right: 15px;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 5px;
                    }
                }
                .quoteText {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-left: 15px;
                    .quoteBox {
                        width: 100%;
                        font-size: 2.2rem;
                    }
                    .quoteAuthor {
                        width: 100%;
                        text-align: right;
                        font-size: 1.7rem;
                        padding-right: 25px;
                    }
                }
            }
            .popularApps {
                width: 100%;
                height: 85%;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                align-items: center;
                margin: 15px 0;
                padding: 0 15px;
                .popApp {
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    text-decoration: none;
                    color: $medText;
                    &:hover {
                        // color: lighten(30%);
                    }
                    i {
                        font-size: 5rem;
                    }
                    p {
                        width: 85%;
                        text-align: center;
                    }
                }
                .popApp1 i {
                    color: $liDeepBlue;
                }
                .popApp2 i {
                    color: $liPetroleum;
                }
                .popApp3 i {
                    color: $adtGreen;
                }
                .popApp4 i {
                    color: $tbtGreen;
                }
                .popApp5 i {
                    color: $hybBlue;
                }
                .popApp6 i {
                    color: $beltBlue;
                }
            }
            .kathyHero {
                width: 100%;
                height: 85%;
                // margin: 15px 15px;
                // padding: 15px 15px;
                .flickity-viewport {
                    // margin: 15px 15px;
                    height: 100%;
                    width: 100%;
                    position: relative;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
                img {
                    width: 100%;
                    object-fit: fill;
                    display: block;
                    height: 100%;
                    // border-radius: 10px;
                    // margin: 15px 0;
                }
                .flickity-page-dots {
                    position: absolute;
                    z-index: 3;
                    right: 0px;
                    bottom: 10px;
                    .dot {
                        background: white;
                        border: 1px solid white;
                    }
                }
            }
            .cooksCalendar {
                width: 100%;
                height: 85%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 15px 0 0 0;
                padding: 0 15px 15px 15px;
                // border-radius: 10px;
                iframe {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
            }
            .anotherApp {
                width: 100%;
                height: 85%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 15px 0;
                padding: 0 15px;
            }
        }
        .contentHeader {
            width: 100%;
            height: 15%;
            text-align: left;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid $greyBackground;
            padding: 10px 0;
            h3 {
                margin: 5px 25px;
            }
        }
    }
    .autoFeed {
        .item-content {
            .contentHeader {
                height: 6.8%;
            }
            .feedContent {
                width: 100%;
                height: 93.2%;
                overflow: scroll !important;
                overflow-x: hidden !important;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin-bottom: 15px;
                iframe {
                    position: absolute !important;
                    top: 5px !important;
                    width: 90% !important;
                }
            }
            .feedContent::-webkit-scrollbar {
                width:0;
            }
        }
    }
    .item.size1 {
        width: 550px;
        height: 400px;
    }
    .item.size2 {
        width: 700px;
        height: 400px;
    }
    .item.size3 {
        width: 400px;
        height: 400px;
    }
    .item.size4 {
        width: 400px;
        height: 185px;
    }
    .item.size5 {
        width: 400px;
        height: 830px;
    }
    .item.muuri-item-dragging {
        z-index: 3;
    }
    .item.muuri-item-releasing {
        z-index: 2;
    }
    .item.muuri-item-hidden {
        z-index: 0;
    }
}
