@font-face {
    font-family: 'NeoSansPro-Regular';
    src: url(..//..//fonts/NeoSansPro-Regular.otf) format("opentype")
}
.splash {
    width: 100%;
    height: 100vh;
    background: url(../assets/0008_00_00_50.842.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .splashContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .splashLogo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20vh;
            img {
                display: block;
                object-fit: cover;
                height: auto;
                width: 200px;
            }
            h1 {
                font-family: 'NeoSansPro-Regular';
                font-size: 6rem;
            }
        }
        .splashApp {
            margin: 0 0 35px 60px;
            h2 {
                font-family: 'Press Start 2P', cursive;
                font-size: 2.5rem;
            }
        }
        .login {
            a {
                text-decoration: none;
                text-align: center;
                background: $icon;
                color: black;
                width: 200px;
                border: none;
                font-size: 3rem;
                border-radius: 10px;
                padding: 10px 15px;
                font-weight: 700;
                display: block;
                margin-left: 60px;
            }
        }
    }
       
}