#pressToolApp {
    @include mainToolContainer();
    right: 0;
    bottom: 0;
    display: none;
    .pressAppScrollContainer {
        @include mainToolContainer();
        right: 0;
        bottom: 0;
        overflow: scroll;
        overflow-x: hidden;
    }
    .pressAppMain {
        height: 100%;
        width: 100%;
        display: flex;
        margin-top: 1.25%;
        justify-content: center;
        align-items: center;
        // position: relative;
        flex-wrap: wrap;
        .pressToolInputs {
            @include toolContainer(28.5%, hotpink);
            position: relative;
            .pressAppTitle {
                @include appTitle(hotpink);
            }
            .pressInputsContainer {
                overflow: scroll;
                overflow-x: hidden;
                .pressInputs {
                    width: 90%;
                    margin-bottom: 10px;
                    h3 {
                        margin: 0 0 20px 0;
                    }
                    .pressForm {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .inputDims {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            // flex-wrap: wrap;
                        }
                        .widenSelector {
                            .appLabel {
                                width: 68%;
                            }
                            .formItem {
                                width: 70%;
                            }
                        }
                    }
                }
            }
            .pressInputsContainer::-webkit-scrollbar {
                width:0;
            }
        }
        .pressToolOutputs {
            @include toolContainer(28.5%, royalblue);
            position: relative;
            .pressAppTitle {
                @include appTitle(royalblue);
            }
        }
        .pressToolGraph {
            @include toolContainer(38.5%, goldenrod);
            .pressAppTitle {
                @include appTitle(goldenrod);
            }
            .pressGraph {
                justify-content: space-evenly;
                margin: 0;
                width: 90%;
            }
        }
        .pressToolDetailedOutput {
            @include toolContainer(97.5%, darkslategray);
            margin: 1.25% 0% 1.25% 0%;
            position: relative;
            height: 92%;
            .pressAppTitle {
                @include appTitle(darkslategray);
            }
            .pressDetailedOutput {
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                padding-top: 0;
                .subTable {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .cellHeader {
                        h3{
                            font-weight: 700;
                        }
                    }
                    .row {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 300px;
                        h3 {
                            margin: 7px 15px;
                            text-align: center;
                            width: 50px
                        }
                    }
                    .row.cellHeader {
                        h3 {
                            width: 100%;
                        }
                    }
                }
                .firstColumnItems {
                    margin-top: 30px;
                }
                .subTable.pressTableLabels {
                    h3 {
                        width: 100%;
                        text-align: right;
                    }
                }
                .subTable:first-child
            }  
            .pressEndNote {
                position: absolute;
                left: 10px;
                bottom: -10px;
                p {
                    font-size: 1.2rem;
                }
            }      
        }
    }
}