#pressToolApp {
    @include mainToolContainer();
    right: 0;
    bottom: 0;
    // display: none;
    display: block;
    overflow: scroll;
    overflow-x: hidden;
    .toolUnits {
        // display: inline-block;
        margin-left: -45px;
        z-index: 9999999999;
    }
    .pressAppMain {
        height: 100%;
        width: 100%;
        display: flex;
        margin-top: 1.25%;
        justify-content: center;
        align-items: center;
        // position: relative;
        flex-wrap: wrap;
        .pressToolInputs {
            @include toolContainer(28.5%, hotpink);
            position: relative;
            .pressAppTitle {
                @include appTitle(hotpink);
            }
            .pressInputsContainer {
                overflow: scroll;
                overflow-x: hidden;
                .pressInputs {
                    width: 90%;
                    margin-bottom: 10px;
                    h3 {
                        margin: 0 0 20px 0;
                    }
                    .pressForm {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .inputDims {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            // flex-wrap: wrap;
                        }
                    }
                }
            }
            .pressInputsContainer::-webkit-scrollbar {
                width:0;
            }
        }
        .pressToolOutputs {
            @include toolContainer(28.5%, royalblue);
            position: relative;
            .pressAppTitle {
                @include appTitle(royalblue);
            }
        }
        .pressToolGraph {
            @include toolContainer(38.5%, goldenrod);
            .pressAppTitle {
                @include appTitle(goldenrod);
            }
        }
        .pressToolDetailedOutput {
            @include toolContainer(97.5%, darkslategray);
            margin: 1.25% 0% 1.25% 0%;
            position: relative;
            .pressAppTitle {
                @include appTitle(darkslategray);
            }
            .pressDetailedOutput {
                flex-direction: row;
                align-items: flex-end;
                margin-bottom: 50px;
                .subTable {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .cellHeader {
                        h3{
                            font-weight: 700;
                        }
                    }
                    .row {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 300px;
                        h3 {
                            margin: 7px 15px;
                            text-align: center;
                            width: 50px
                        }
                    }
                    .row.cellHeader {
                        h3 {
                            width: 100%;
                        }
                    }
                }
                .subTable.pressTableLabels {
                    h3 {
                        width: 100%;
                        text-align: right;
                    }
                }
            }  
            .pressEndNote {
                position: absolute;
                left: 10px;
                bottom: -10px;
                p {
                    font-size: 1.2rem;
                }
            }      
        }
    }
}