#stackupToolApp {
    @include mainToolContainer();
    right: 0;
    bottom: 0;
    display: none;
    .stackupScrollContainer {
        @include mainToolContainer();
        right: 0;
        bottom: 0;
        overflow: auto;
        overflow-x: hidden;
        .stackupAppMain {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center; 
            .stackupAppInputs {
                @include toolContainer(64%, tomato);
                .appTitle {
                    @include appTitle(tomato);
                }
                .stackupPack {
                    width: 100%;
                }
            }
            .stackupAppOutputs {
                @include toolContainer(32%, springgreen);
                .appTitle {
                    @include appTitle(springgreen);
                }
            }
        }
    }
}