#stressToolApp {
    @include mainToolContainer();
    display: none;
    // display: block;
    .stressToolInputs {
        @include toolContainer(28.5%, palegoldenrod);
        .appTitle {
            @include appTitle(palegoldenrod);
        }
        .stressAdvOptions {
            width: 50%;
            h3 {
                margin-bottom: 10px;
            }
            .stressAdvContainer {
                width: 100%;
                .toolOutputPackage {
                    width: 50%;
                    flex-wrap: wrap;
                }
            }
        }
    }
    .stressToolGraph {
        @include toolContainer(38.5%, thistle);
        .appTitle {
            @include appTitle(thistle);
        }
        #stressGraphSizer {
            width: 90%;
        }
    }
    .stressToolData {
        @include toolContainer(28.5%, steelBlue);
        .appTitle {
            @include appTitle(steelBlue);
        }
        .toolContainerBelowTitle {
            flex-direction: row;
            justify-content: center;
            .stressToolResult {
                width: 100%;
                flex-direction: column;
                .stressDataContainer {
                    width: 40%;
                    font-size: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 25px 15px;
                    h4:last-child {
                        border-bottom: 1px solid lightgrey;
                    }
                    h4 {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-top: 1px solid lightgrey;
                        padding: 6px 5px;
                    }
                }
            }
        }
    }
}