#tvToolApp {
    @include mainToolContainer();
    display: none;
    overflow-y: hidden;
    // display: block;
    .tvToolMain {
        .tvToolInputs {
            @include toolContainer(28.5%, dodgerblue);
            .appTitle {
                @include appTitle(dodgerblue);
            }
            .tvToolForm {
                .numCyls {
                    appearance: none;
                    background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
                    background-repeat: no-repeat;
                    background-position: 95% center;
                }
                .rpmWrapper {
                    margin-bottom: 20px;
                    .inRPM {
                        appearance: none;
                        height: 10px;
                        width: 100%;
                        // margin-bottom: 40px;
                        background: $medText;
                        border-radius: 5px;
                        display: block;
                        &::-webkit-slider-thumb {
                            box-shadow: 1px 1px 1px #000000;
                            border: 1px solid #000000;
                            height: 25px;
                            width: 15px;
                            border-radius: 5px;
                            background: #FFFFFF;
                            cursor: pointer;
                            -webkit-appearance: none;
                        }
                    }
                    .outRPM {
                        margin-left: 15px;
                    }
                }
            }
        }
        .tvToolOutput {
            @include toolContainer(28.5%, khaki);
            .appTitle {
                @include appTitle(khaki);
            }
        }
        .tvToolGraph {
            @include toolContainer(38.5%, crimson);
            .appTitle {
                @include appTitle(crimson);
            }
            .tvGraphSizer {
                width: 68%;
            }
        }
    }
}