html {
    font-family: 'Raleway', sans-serif;
    font-size: $baseFont;
    font-weight: 400;
    position: relative;
    h1 {
        font-size: $h1Desk;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-size: $h2Desk;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    h3 {
        font-size: $h3Desk;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    h4 {
        font-size: $h4Desk;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    p {
        font-size: $pDesk;
    }
    a {
        font-size: $aDesk;
    }
    i {
        font-size: $iDesk;
    }
}
.uppercase {
    text-transform: uppercase;
}
// Main Framework Content
.framework {
    display: flex;
    // position: relative;
}
.main {
    width: 100%;
    height: 100vh;
    .footerPopup {
        display: none;
        position: absolute;
        left: 5%;
        top: 5%;
        right: 5%;
        bottom: 5%;
        z-index: 99999;
        background: white;
        border-radius: 10px;
    }
}
.centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.scrollAid {
    position: absolute;
    bottom: 25px;
    right: 25px;
    background: rgba(153, 153, 153, 0.3);
    border-radius: 20px;
    padding-top: 3px;
    z-index: 999999;
    a { 
        color: $medText;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 12px;
    }
    i {
        font-size: 2.5rem;
        line-height: inherit;
    }
}
// Main Tool Configuration
// Tool input config
.toolContainerBelowTitle {
    width: 100%;
    max-height: calc(100% - 55px) !important;
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    h3 {
        font-size: 1.7rem;
    }
}