html {
    font-family: 'Raleway', sans-serif;
    font-size: $baseFont;
    font-weight: 400;
    position: relative;
    h1 {
        font-size: $h1Desk;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-size: $h2Desk;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    h3 {
        font-size: $h3Desk;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    h4 {
        font-size: $h4Desk;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    p {
        font-size: $pDesk;
    }
    a {
        font-size: $aDesk;
    }
    i {
        font-size: $iDesk;
    }
}
.uppercase {
    text-transform: uppercase;
}
.framework {
    display: flex;
    // position: relative;
}
.main {
    width: 100%;
    height: 100vh;
    .footerPopup {
        display: none;
        position: absolute;
        left: 5%;
        top: 5%;
        right: 5%;
        bottom: 5%;
        z-index: 99999;
        background: white;
        border-radius: 10px;
    }
}
