html {
    font-family: 'Raleway', sans-serif;
    font-size: $baseFont;
    font-weight: 400;
    position: relative;
    h1 {
        font-size: $h1Desk;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-size: $h2Desk;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    h3 {
        font-size: $h3Desk;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    h4 {
        font-size: $h4Desk;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    p {
        font-size: $pDesk;
    }
    a {
        font-size: $aDesk;
    }
    i {
        font-size: $iDesk;
    }
}
.uppercase {
    text-transform: uppercase;
}
// Main Framework Content
.framework {
    display: flex;
    // position: relative;
}
.main {
    width: 100%;
    height: 100vh;
    .footerPopup {
        display: none;
        position: absolute;
        left: 5%;
        top: 5%;
        right: 5%;
        bottom: 5%;
        z-index: 99999;
        background: white;
        border-radius: 10px;
    }
}
.scrollAid {
    position: absolute;
    bottom: 25px;
    right: 25px;
    background: rgba(153, 153, 153, 0.3);
    border-radius: 20px;
    padding-top: 3px;
    a { 
        color: $medText;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 12px;
    }
    i {
        font-size: 2.5rem;
        line-height: inherit;
    }
}
// Main Tool Configuration
// Tool input config
.appMain {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.appLabel {
    margin-bottom: 10px;
    width: 50%;
}
.formItem {
    margin: 0 0;
    width: 60%;
    margin-bottom: 20px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 15px;
    position: relative;
    background: rgba(255, 255, 255, 0)
}
.toolOutputPackage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.toolContainerBelowTitle {
    width: 100%;
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    h3 {
        font-size: 1.7rem;
    }
}
.calcButton {
    padding: 10px;
    background: $navBackground;
    color: $medText;
    font-family: inherit;
    border: none;
    margin: 20px 10px;
    border-radius: 10px;
    transition: background 0.3s linear;
    &:hover {
        background: lighten($navBackground, 20%);
    }
}
// Tool Output Config.
.mmUnits {
    &:after {
        text-align: right;
        content: "mm";
        position: absolute;
        top: 5px;
        left: 80%;
    }
}
.stressUnits {
    &:after {
        text-align: right;
        content: "MPa";
        position: absolute;
        top: 5px;
        left: 80%;
    }
}
.forceUnits {
    &:after {
        text-align: right;
        content: "N";
        position: absolute;
        top: 5px;
        left: 80%;
    }
}
.kForceUnits {
    &:after {
        text-align: right;
        content: "kN";
        position: absolute;
        top: 5px;
        left: 80%;
    }   
}
.torqueUnits {
    &:after {
        text-align: right;
        content: "N·m";
        position: absolute;
        top: 5px;
        left: 80%;
    }
}
.rotVelUnits {
    &:after {
        text-align: right;
        content: "rad/s";
        position: absolute;
        top: 5px;
        left: 80%;
    }
}
.rotAccUnits {
    &:after {
        text-align: right;
        content: "rad/s²";
        position: absolute;
        top: 5px;
        left: 80%;
    }   
}
