html {
    font-family: 'Raleway', sans-serif;
    font-size: $baseFont;
    font-weight: 400;
    h1 {
        font-size: $h1Desk;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-size: $h2Desk;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    h3 {
        font-size: $h3Desk;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    h4 {
        font-size: $h4Desk;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    p {
        font-size: $pDesk;
    }
    a {
        font-size: $aDesk;
    }
    i {
        font-size: $iDesk;
    }
}
.uppercase {
    text-transform: uppercase;
}
.framework {
    display: flex;
}
.main {
    width: 100%;
    height: 100vh;
}
