// Define Site Colours
// Font Colours
$lightText: white;
$medText: #999999;
$blueText: #193c82;
$darkText: black;
// Main Site Colours
$navBackground: #0f2241;
$greyBackground: #dddddd;
$powerApps: #505050;
// Icon Colours
$selectedIcon: #4187a5;
$icon: #193c82;
// Define Site Text Sizes
$baseFont: 62.5%;
$h1Desk: 4.2rem; 
$h2Desk: 3.3rem;
$h3Desk: 2.0rem;
$h4Desk: 1.7rem;
$pDesk: 1.8rem;
$aDesk: 1.5rem;
$iDesk: 1.5rem;
$h1Mobile: 4rem;
$h2Mobile: 3rem;
$h3Mobile: 2rem;
$pMobile: 1.5rem;
$aMobile: 1.2rem;
// Defiine Nav & Main Content Widths
$asideWidth: 16%;
// Litens color palete
$liDeepBlue: rgb(15,34,65);
$liPetroleum: rgb(62,77,84);
$liGreen: rgb(82,174,50);
$tenBlue: rgb(62,77,84);
$tenGreen: rgb(42,203,52);
$oadGreen: rgb(30,170,140);
$adtGreen: rgb(30,105,50);
$tbtGreen: rgb(50,165,80);
$hybBlue: rgb(25,60,130);
$beltBlue: rgb(65,135,165);
$tvGrey: rgb(120,125,135);
$thermOrg: rgb(245,145,25);

