// Define Site Colours
// Font Colours
$lightText: white;
$medText: #999999;
$blueText: #193c82;
$darkText: black;
// Main Site Colours
$navBackground: #0f2241;
$greyBackground: #dddddd;
// Icon Colours
$selectedIcon: #4187a5;
$icon: #193c82;
// Define Site Text Sizes
$baseFont: 62.5%;
$h1Desk: 4.2rem; 
$h2Desk: 3.3rem;
$h3Desk: 2.0rem;
$h4Desk: 1.7rem;
$pDesk: 1.8rem;
$aDesk: 1.5rem;
$iDesk: 1.5rem;
$h1Mobile: 4rem;
$h2Mobile: 3rem;
$h3Mobile: 2rem;
$pMobile: 1.5rem;
$aMobile: 1.2rem;