aside {
    position: fixed;
    background: $navBackground;
    height: 100vh;
    width: $asideWidth;
    color: $medText;
    z-index: 10;
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            width: 200px;
            img {
                width: 100%;
            }
        }
        .minify {
            margin-right: 15px;
            color: $selectedIcon;
            i {
                transition: all 0.3s linear;
            }
            &:hover i {
                color: lighten($selectedIcon, 30%);
            }
        }
    }
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 25px;
        margin: 0 auto;
        width: 100%;
        .dashSelector {
            margin: 50px 0 25px 0;
            width: 100%;
        }
        .automationSection {
            width: 100%;
            h3 {
                margin: 15px 0 30px 0;
            }
        }
        .productsSection {
            width: 100%;
            h3 {
                margin: 15px 0 30px 0;
            }
        }
        .toolList {
            display: none;
            width: 85%;
            ul {
                margin: 0;
            }
            a {
                padding: 8px 8px;
            }
        }
        .toolList.expanded {
            display: block;
        }
        .subLink {
            transition: color 0.3s linear;
            &:hover {
                color: lighten($medText, 30%);
            }
        }
        .subLink.litLink {
            color: lighten($medText, 30%);
        }
        .dotHolder {
            color: $medText;
        }
    }
    .icon {
        width: 2rem;
        height: auto;
        fill: $icon;
    }
    .linkText {
        padding-left: 20px;
    }
    .mainLink {
        display: flex;
        align-items: center;
        // justify-content: center;
        padding: 10px 0;
        margin: 10px 0;
        width: 85%;
        position: relative;
        cursor: pointer;
        a,i,.expander {
            transition: color 0.3s linear;
        }
        svg {
            transition: fill 0.3s linear;
        }
        &:hover a {
            color: lighten($medText, 30%);
        }
        &:hover .expander i {
            color: lighten($medText, 30%);
        }
        &:hover i {
            color: lighten($icon, 30%);
        }
        &:hover svg {
            fill: lighten($icon, 30%);
        }
        .expander {
            position: absolute;
            right: 0;
            transition: all 0.3s linear;
            i {
                color: $medText;
            }
        }
        .expander.expanderDown {
            transform: rotate(90deg);
        }
    }
    .rootLink.litLink {
        a {
            color: lighten($medText, 30%);
        }
        i {
            color: lighten($icon, 30%);
        }
        svg {
            color: lighten($icon, 30%);
        }
    }
    .mainLink.lit {
        a {
            color: lighten($medText, 30%);
        }
        .expander i {
            color: lighten($medText, 30%);
        }
        i {
            color: lighten($icon, 30%);
        }
        svg {
            fill: lighten($icon, 30%);
        }
    }
    a {
        text-decoration: none;
        font-weight: 700;
        font-size: 1.9rem;
        display: block;
        color: $medText;

    }
    i {
        font-size: 2rem;
        color: $icon;
    }
    button {
        background: none;
        border: none;
    }
}
.navPanel.navMinify {
    .main {
        width: 95%;
    }
    .top {
        width: 100%;
        height: 80px;
        justify-content: center;
        .logo {
            // transition: all 0.4s linear;
            // opacity: 0;
            display: none;
        }
        .minify a i {
            transform: rotate(180deg);
        }
    }
    .nav {
        // text-align: center;
        .dashSelector {
            // margin: 0;
        }
    }
    .sectionBreak {
        // transition: all 0.4s linear;
        // display: none;
        // opacity: 0;
    }
    .mainLink {
        // justify-content: center;
    }
    .mainLink .linkText {
        // transition: all 0.4s linear;
        display: none;
    }
    .expander {
        // transition: all 0.4s linear;
        display: none;
    }
}
