.centralContent {
    height: 80%;
    width: calc(100% - $asideWidth);
    margin-left: $asideWidth;
    .contentSwitch {
        height: 100%;
        background: $powerApps;
        display: flex;
        justify-content: center;
        align-items: center;
        .mainContent {
            color: $medText;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}