footer {
    // border: 2px solid palegoldenrod;
    height: 6.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
        margin-left: 25px;
        font-size: 1.5rem;
        color: $darkText;
        font-weight: 500;
    }
    .contact {
        ul {
            display: flex;
            justify-content: flex-end;
            list-style: none;
            padding: 0;
            margin-right: 15px;
            li {
                a { 
                    text-decoration: none;
                    color: $darkText;
                    padding: 0 10px;
                    margin: 0 5px;
                    font-weight: 500;
                }
            }
        }
    }
}