main{
    height: 80%;
    .dashboard {
        // border: 2px solid hotpink;
        height: 100%;
        background: $greyBackground;
        display: flex;
        justify-content: center;
        align-items: center;
        .mainContent {
            color: $medText;
        }
    }
}
